body{
    font-family: 'Segoe UI',  sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
header{
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
nav ul{
list-style: none;
display: flex;
justify-content: center;
gap: 20px;
margin-top: 10px;
}
nav a{
    color: #f8f8f8;
    text-decoration: none;
    font-weight: bold;

}
nav a :hover{
    text-decoration: underline;
    color: #ffcc00;
}
section,aside{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(red, green, blue, alpha);
    
}
h2{
    margin-bottom: 10px;
    color: #444;
}
img{

}
form textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid#ccc;
    border-radius: 5px;
}
form input[type="submit"]{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"] :hover{
    background-color: #00f56b;
}
ul,ol{
    margin-left: 20px;
    padding-left: 15px;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    border-radius: 10px;
}
blockquote{
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 10px; 
    margin: 10px  0;
}
details{
    margin-top: 10px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 5px;
}

